.mood-history {
  margin-top: 2rem;
}

.mood-history h2 {
  color: white;
  margin-bottom: 1.5rem;
  opacity: 0.8;
}

.mood-list {
  display: grid;
  gap: 2rem;
}

.empty-history {
  text-align: center;
  margin-top: 1.5rem;
  opacity: 0.6;
  color: #fff;
  font-size: 0.5rem;
}

.mood-card-header h3 {
  color: "#fff";
}

.delete-btn {
  background: #adadadff;
  color: #000000ff;
  border-radius: 100%;
  padding: 0.1rem 0.4rem;
}
